certifi==2024.8.30
charset-normalizer==3.3.2
googleapis-common-protos==1.65.0
grpcio==1.66.1
idna==3.9
lz4==4.3.3
numpy==2.0.2
pinecone==5.1.0
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
protobuf==4.25.4
protoc-gen-openapiv2==0.0.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.3
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
vaderSentiment==3.3.2
